body {
  background-color: rgb(209, 234, 234);
}

h1 {
  color: rgb(6, 11, 62);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-top-style: dotted;
  border-bottom-style: dotted;
  border-left-style: dotted;
  border-right-style: dotted;
  border-left-width: 5px;
  border-left-color: rgb(53, 53, 129);
}

/* p {
  color: rgb(23, 3, 43);
} */
#p1 {
  color: rgb(37, 3, 78);
  font-size: larger;
  font-style: oblique;
  border-style: outset;
  border-width: 2px;
  border-color: rgb(79, 88, 92);
  padding: 5px;
}

h2 {
  color: rgb(6, 11, 62);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h3 {
  color: aliceblue;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
